
<%= form_for @assessment do |f| %>
  <div class="field">
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>
  </div>
  <h3>Questions</h3>
  <div id='questions'>
    <%= f.fields_for :questions, @assessment.questions.build do |question| %>
      <%= render 'question', :f => question %>
      <div class='links'>
        <%= link_to_add_association 'add question', f, :questions, partial: 'question' %>
      </div>
    <% end %>
  </div>
  <%= f.submit 'Save' %>
<% end %>
