.center.jumbotron
  %h1 Create Assessment please

= form_for @assessment do |form| 
  = form.label :title 
  = form.text_field :title 
  %h4 Questions
  #questions
    = form.fields_for :questions, @assessment.questions.build do |question| 
      = render 'question', f: question
    .links
      = link_to_add_association 'Add-question', form, :questions, partial: 'question'
  .actions
    = form.submit 'Save' 